* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

 container {
    width: 100vw;
    height: 100vh;
 }

 header {
    width: 100vw;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.733);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
 }
 .logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: 350;
    color: rgb(233, 164, 35);
 }
 .navbar a {
    color: rgb( 233, 164, 35);
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    padding-left: 25px;

 }
 .navbar a:hover{
    color: rgb(30, 53, 226);
 }
 .mn {
    padding: 250px 150px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/v1013-p-0009a-x_1.jpg) no-repeat;
    background-size: cover;
 }
 .mn h2 {
    color: rgb(54, 54, 56);
    font-size: 40px;
    padding-bottom: 20px;

 }
 .mn h2 span {
    color: rgb(54, 54, 56);
 }
 .icons a {
    font-size: 30px;
    padding-right:35px;
    color: rgb(29, 30, 31);
 }
 .portfolio {
    width: 100vw;
    height: 40vh;
    padding: auto;

 }
 .portfolio h1 {
    font-size: 40px;
    width: 100vw;
    padding: 100px 50px;
 }
 .portfolio h1 span {
    display: inline-block;
    padding-top: 40px;
    color: rgb(243, 150, 11);
 }
 
 
